# dbt internals
pl_analytics/target/
pl_analytics/dbt_packages/
pl_analytics/logs/
logs/

# credentials - NEVER push
pl_analytics/profiles.yml
snowflake-pl-user-accessKeys.csv

# python
venv/
__pycache__/
*.pyc

# raw data files
data/
pl_analytics/data/